<div id="header">
  <div id="logo">
    <img src="images/logo.png">
  </div>
  <div id="title">
    <%- config.title %>
  </div>
    <div id="nav">
      <ul>
        <li><a href="/">Home</a></li>
    </ul>
    </div>
    
</div>